<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <div >
        <%- include("partials/navbar.ejs") %>
        <%- include("partials/menu.ejs") %>
        <main class="md:ml-64 h-auto pt-20">
            <%- include("components/policyList.ejs", {data: data}) %>
          </main>
        </div>
    </div>
</body>
</html>

